{% extends 'admin/model/list.html' %}

{% block list_row_actions scoped %}
  {{ super() }}
  {% if admin_view.__class__.__name__ == 'TourPackageAdmin' %}
    <a href="{{ url_for('.action_view', action='publish', id=row.pk) }}" class="btn btn-success btn-sm" title="Publish"><i class="fa fa-upload"></i></a>
    <a href="{{ url_for('.action_view', action='unpublish', id=row.pk) }}" class="btn btn-secondary btn-sm" title="Unpublish"><i class="fa fa-eye-slash"></i></a>
    <a href="{{ url_for('.action_view', action='duplicate', id=row.pk) }}" class="btn btn-info btn-sm" title="Duplicate"><i class="fa fa-copy"></i></a>
  {% endif %}
  <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detailsModal{{ row.pk }}"><i class="fa fa-eye"></i> Details</button>
  <div class="modal fade" id="detailsModal{{ row.pk }}" tabindex="-1" aria-labelledby="detailsModalLabel{{ row.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel{{ row.pk }}">Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <pre>{{ row | pprint }}</pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{# Tooltips for field descriptions (if needed) can be added in the list view columns using WTForms field.description #}
